{% if messages %}
        {% for message in messages %}
        <div class="mt-4 alert alert-{% if message.tags == 'error' %}danger{% else %}{{message.tags}}{% endif %}
            alert-dismissible" role="alert">
            <div id="form_errors">
                <strong>{{message}}</strong>
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}