{% extends "post/base.html" %}

{% block body %}


<div class="container">
    <div class="row mt-5 p-5 col-md-12">
        <div class="card col-md-12">
            <div class="card-header">
                <h2>{{post.title}}</h2>
            </div>
            <div class="card-body">
                <h1> Title: {{post.title}} </h1>

<p> Date : {{post.date}} </p>

<p> {{post.content}} </p>

<p>
    <img src="{{ post.image.url }}" alt="Post Image">
</p>


            </div>
        </div>
    </div>
</div>

{%endblock%}