 {% extends "base.html" %}

 {% block content %}

<h1> hello World</h1>



    <h2> Person's information</h2>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">job</th>

          </tr>
        </thead>

    {% for person in persons %}


    <tbody>
      
        <tr>
          <th scope="row">   <a href = "{% url 'info' person.id %}">{{person.id}} </a></th>
          <td>{{person.name}}</td>
          <td>{{person.age}}</td>
          <td>{{person.job}}</td>
        </tr>
   
      </tbody>

    {% endfor %}    
      </table>
 

{% endblock %}

